{{!-- NAVBAR --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light py-0 font-primary">
    <div class="container">
        <a class="navbar-brand bigFont text-primary" href="/">b<img
                src="https://img.icons8.com/nolan/30/000000/bug.png">g tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                <li class="nav-item">
                    <p class="nav-link text-primary"><span class="text-muted font-italic">signed in as &nbsp;</span>
                        {{user.username}}</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">logout</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/login">login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">sign up</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
{{!-- Nav tabs --}}
<div class="container">
    <div class="row text-secondary">
        <a class="col-4 nav-tab" href="/dashboard">
            <div class="shaker"><i class="fas fa-id-card bigFont"></i></div>
        </a>
        <a class="col-4 nav-tab active" href="/projects">
            <div class="shaker"><i class="fas fa-project-diagram bigFont"></i></div>
        </a>
        <a class="col-4 nav-tab" href="/comments">
            <div class="shaker"><i class="fas fa-comments bigFont"></i></div>
        </a>
    </div>
</div>


<div class="container mt-4 pb-5">
    <div class="row border-bottom-purple">
        <div class="col-lg-12 d-flex justify-content-between">
            <div>
                <h2 class="display-4 font-primary text-light">
                    <a href="/projects" class="btn-subtle back-btn"><i class="fas fa-long-arrow-alt-left"></i></a>
                    {{project.name}}
                    <span class="comment-text-bigger font-secondary d-none d-md-inline">click any issue to see
                        more</span>
                </h2>
            </div>
            <div>
                <button class="btn-purple display-4" id="add-issue"><i class="fas fa-plus"></i></button>
            </div>
        </div>
    </div>

    <div class="row mt-3 font-secondary">
        <div class="col-12">
            <div class="btn-group btn-block btn-group-toggle" data-toggle="buttons" id="display-category">
                <label class="btn btn-outline-secondary display-category active">
                    <input type="radio" name="ideas" autocomplete="off" value="all" checked> All
                </label>
                <label class="btn btn-outline-secondary display-category">
                    <input type="radio" name="ideas" autocomplete="off" value="idea"> Ideas
                </label>
                <label class="btn btn-outline-secondary display-category">
                    <input type="radio" name="todo" autocomplete="off" value="todo"> Todo
                </label>
                <label class="btn btn-outline-secondary display-category">
                    <input type="radio" name="inprogress" autocomplete="off" value="inprogress"> In Progress
                </label>
                <label class="btn btn-outline-secondary display-category">
                    <input type="radio" name="closed" autocomplete="off" value="closed"> Closed
                </label>
            </div>
        </div>
    </div>

    <div class="row mt-3" id="issues-container">
        <div class="col-lg-8">
            {{!-- ISSUES --}}
            {{#each project.issues}}
            <div class="col-12 mt-3">
                <button class="btn btn-block btn-issue font-secondary findCategory" active-category="{{category}}" data-id="{{_id}}" data-name="{{name}}" >
                    <div class="row">
                        <div class="col-sm-6 text-left bigFont">{{name}}</div>
                        <div class="col-sm-6 text-right">
                            <i class="fas fa-comments"></i> comments: {{comments.length}} | {{category}}
                        </div>
                    </div>
                    <div class="row display-active">
                        <div class="col-12">
                            <div class="btn-group btn-block btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-sm btn-success idea issue-category" category="idea"
                                    data-id="{{_id}}">
                                    <input type="radio" name="ideas" value="idea" autocomplete="off" checked> Idea
                                </label>
                                <label class="btn btn-sm btn-success todo issue-category" category="todo"
                                    data-id="{{_id}}">
                                    <input type="radio" name="todo" value="todo" autocomplete="off"> Todo
                                </label>
                                <label class="btn btn-sm btn-success inprogress issue-category" category="inprogress"
                                    data-id="{{_id}}">
                                    <input type="radio" name="inprogress" value="inprogress" autocomplete="off"> In
                                    Progress
                                </label>
                                <label class="btn btn-sm btn-success closed issue-category" category="closed"
                                    data-id="{{_id}}">
                                    <input type="radio" name="closed" value="closed" autocomplete="off"> Closed
                                </label>
                            </div>
                        </div>
                        <div class="col-12 text-left mt-2">
                            {{description}}
                        </div>
                        <div class="col-12 text-right">
                            <div class="btn btn-danger btn-sm delete-issue" data-id="{{_id}}"><i
                                    class="fas fa-trash-alt"></i></div>
                        </div>
                    </div>
                </button>
            </div>
            {{/each}}
        </div>

        <div class="col-lg-4 font-secondary">
            {{!-- COMMENTS --}}
            {{#each project.issues}}
            <div class="col-12 mt-3 text-light comment" id="comment-{{_id}}">
                <h3 class="text-center border-bottom border-light pb-2">{{name}} <i class="fas fa-comments"></i></h3>
                <div class="comments-section border-bottom border-light">
                    {{#if comments}}
                    {{#each comments}}
                    <div class="row">
                        <div class="col-1">
                            <div class="text-purple"><i class="fas fa-comment"></i></div>
                        </div>
                        <div class="col-10">
                            <p id="{{_id}}"></p>
                        </div>
                            <button class="btn-subtle text-danger delete-comment" data-id="{{_id}}">X</button>
                    </div>
                        {{!-- <p class="comment-text-bigger" id="{{_id}}"><span class="text-purple"><i class="fas fa-comment"></i> &nbsp;</span> </p> --}}
                    {{/each}}
                    {{else}}
                        <h5 class="text-secondary text-center py-3">No Comments Yet</h5>
                    {{/if}}
                </div>
                <form class="mt-2" action="/newcomment/{{_id}}" method="POST">
                    <div class="row">
                        <div class="col-10">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="new comment" name="comment">
                            </div>
                        </div>
                        <div class="col-2 pl-0">
                            <button type="submit" class="btn btn-success"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12 text-right font-secondary">
            <button class="btn btn-outline-danger delete-project" data-id="{{project._id}}">Delete Project <i
                    class="fas fa-trash-alt"></i></button>
        </div>
    </div>
</div>

{{!-- MODAL --}}
<div class="modal" tabindex="-1" role="dialog" id="add-issue-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-primary">add issue</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body font-secondary">
                <form class="font-secondary" action="/addissue/{{project._id}}" method="POST">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" name="name">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="category">Category</label>
                                    <select class="form-control" name="category">
                                        <option value="idea">Idea</option>
                                        <option value="todo">Todo</option>
                                        <option value="inprogress">In Progress</option>
                                        <option value="closed">Closed</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea class="form-control" name="description" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer font-primary">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
                <button type="submit" class="btn btn-primary">add <i class="fas fa-plus"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>