{{!-- NAVBAR --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light py-0 font-primary">
    <div class="container">
        <a class="navbar-brand bigFont text-primary" href="/">b<img
                src="https://img.icons8.com/nolan/30/000000/bug.png">g tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                <li class="nav-item">
                    <p class="nav-link text-primary"><span class="text-muted font-italic">signed in as &nbsp;</span>
                        {{user.username}}</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">logout</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/login">login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">sign up</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
{{!-- Nav tabs --}}
<div class="container">
    <div class="row text-secondary">
        <a class="col-4 nav-tab" href="/dashboard">
            <div class="shaker"><i class="fas fa-id-card bigFont"></i></div>
        </a>
        <a class="col-4 nav-tab active" href="/projects">
            <div class="shaker"><i class="fas fa-project-diagram bigFont"></i></div>
        </a>
        <a class="col-4 nav-tab" href="/comments">
            <div class="shaker"><i class="fas fa-comments bigFont"></i></div>
        </a>
    </div>
</div>

<div class="container mt-4">
    <div class="row border-bottom-pink">
        <div class="col-lg-12 d-flex justify-content-between">
            <div>
                <h2 class="display-4 font-primary text-light">projects</h2>
            </div>
            <div>
                <div class="search-box font-secondary d-none d-lg-inline-block">
                    <input class="search-txt" type="text" placeholder="Type to search">
                    <a href="" class="search-btn"><i class="fas fa-search"></i></a>
                </div>
                <button class="btn-pink display-4" id="add-project"><i class="fas fa-plus"></i></button>
            </div>
        </div>
    </div>

    <div class="row">
    {{#each projects}}
        <div class="col-lg-6 mt-2">
            <a href="/projects/{{_id}}" class="btn btn-block btn-project font-secondary">
                <div class="row">
                    <div class="col-sm-6 text-left bigFont">{{name}}</div>
                    <div class="col-sm-6 text-right">
                        <i class="fas fa-exclamation"></i>issues: {{issues.length}} | <i class="fas fa-comments"></i> comments: {{#each issue}}{{comments.length}}{{/each}}
                    </div>
                </div>
            </a>
        </div>
    {{/each}}
    </div>
</div>

{{!-- MODAL --}}
<div class="modal" tabindex="-1" role="dialog" id="add-project-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-primary">add project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="font-secondary" action="/addproject" method="POST">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name">
                    </div>
            </div>
            <div class="modal-footer font-primary">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
                <button type="submit" class="btn btn-primary">add <i class="fas fa-plus"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>